@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politíca e Privacidade";
}
<h1 style="margin:18px">@ViewData["Title"]</h1>

<p style="margin:18px">
    Política de Privacidade Informações Livros
    <br />

    Esta Política de Privacidade descreve como lidamos com as informações pessoais coletadas, usadas e compartilhadas quando um visitante ou cliente acessa Livros Info.
    <br />
    <br />
    SEÇÃO 1 - INFORMAÇÕES TRANSACIONAIS
    O que você faz com minhas informações?
    <br />
    Quando você compra algo em nossa loja, como parte do processo de compra e venda, coletamos as informações pessoais que você nos fornece, como seu nome, endereço e endereço de e-mail.
    Quando você navega em nossa loja, também recebemos automaticamente o endereço de protocolo da Internet (IP) do seu computador para nos fornecer informações que nos ajudem a aprender sobre o seu navegador e sistema operacional.
    <br />
    Marketing por e-mail (se aplicável):
    Com sua permissão, podemos enviar e-mails sobre nossa loja, novos produtos e outras atualizações.
    <br />
    <br />
    SEÇÃO 2 - CONSENTIMENTO
    Como você consegue meu consentimento?
    <br />
    Quando você nos fornece informações pessoais para concluir uma transação, verificar seu cartão de crédito, fazer um pedido, providenciar uma entrega ou devolver uma compra, sugerimos que você consente com nossa coleta e uso apenas por esse motivo específico.
    Se solicitarmos suas informações pessoais por um motivo secundário, como marketing, solicitaremos diretamente seu consentimento expresso ou forneceremos a oportunidade de dizer não.
    <br />
    Como retiro meu consentimento?
    <br />
    Depois de se inscrever, se mudar de ideia, você pode retirar seu consentimento para que possamos entrar em contato com você, para a coleta, uso ou divulgação contínua de suas informações, a qualquer momento, entrando em contato conosco em miguelhp373@gmail.com ou por correio nos em: Livros Info Rua Know Where Galifrey Galaxy Time 1212121212121.
    <br />
    <br />
    SEÇÃO 3 - DIVULGAÇÃO
    Você divulga minhas informações?
    <br />
    Podemos divulgar suas informações pessoais se formos obrigados por lei a fazê-lo ou se você violar nossos Termos de Serviço.
    <br />
    <br />
    SEÇÃO 4 - LOJA ONLINE
    <br />
    Nossa loja online é hospedada pela Shift4Shop. Eles nos fornecem a plataforma de comércio eletrônico online que nos permite vender nossos produtos e serviços para você.
    Você pode ler mais sobre como a Shift4Shop usa suas informações pessoais aqui https://www.shift4shop.com/privacy.html
    <br />
    <br />
    Pagamento:
    <br />
    Se você escolher um gateway de pagamento direto para concluir sua compra, a loja online transmite os dados do seu cartão de crédito. Os dados da loja são criptografados por meio do Padrão de Segurança de Dados da Indústria de Cartões de Pagamento (PCI-DSS). Os dados da transação de compra são armazenados apenas pelo tempo necessário para concluir a transação de compra. Depois que isso for concluído, suas informações de transação de compra serão excluídas.
    Todos os gateways de pagamento direto seguem os padrões definidos pelo PCI-DSS, gerenciados pelo PCI Security Standards Council, que é um esforço conjunto de marcas como Visa, MasterCard, American Express e Discover.
    Os requisitos do PCI-DSS ajudam a garantir o manuseio seguro das informações do cartão de crédito por nossa loja e seus provedores de serviço.
    <br />
    <br />
    SEÇÃO 5 - SERVIÇOS DE TERCEIROS
    <br />
    <br />
    Em geral, os fornecedores terceirizados que usamos apenas coletarão, usarão e divulgarão suas informações na medida necessária para permitir que realizem os serviços que nos fornecem.
    No entanto, certos provedores de serviços terceirizados, como gateways de pagamento e outros processadores de transações de pagamento, têm suas próprias políticas de privacidade em relação às informações que somos obrigados a fornecer a eles para suas transações relacionadas à compra.
    Para esses provedores, recomendamos que você leia suas políticas de privacidade para que possa entender a maneira como suas informações pessoais serão tratadas por esses provedores.
    <br />
    <br />
    Você pode desativar a publicidade direcionada:
    Facebook - https://www.facebook.com/settings/?tab=ads
    Google - https://www.google.com/settings/ads/anonymous
    Bing - https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads
    <br />
    <br />
    Em particular, lembre-se de que certos fornecedores podem estar localizados ou ter instalações localizadas em uma jurisdição diferente de sua ou de nós. Portanto, se você decidir prosseguir com uma transação que envolva os serviços de um provedor de serviços terceirizado, suas informações podem ficar sujeitas às leis das jurisdições em que esse provedor de serviços ou suas instalações estão localizados.
    <br />
    Por exemplo, se você estiver localizado no Canadá e sua transação for processada por um portal de pagamento localizado nos Estados Unidos, suas informações pessoais usadas na conclusão dessa transação podem estar sujeitas a divulgação de acordo com a legislação dos Estados Unidos, incluindo o Patriot Act.
    <br />
    Depois de sair do site da nossa loja ou ser redirecionado para um site ou aplicativo de terceiros, você não será mais regido por esta Política de Privacidade ou pelos Termos de Serviço do nosso site.
    <br />
    <br />
    Links
    <br />
    Quando você clica em links em nossa loja, eles podem direcioná-lo para fora do nosso site. Não somos responsáveis ​​pelo conteúdo ou práticas de privacidade de outros sites e encorajamos você a ler suas declarações de privacidade.
    <br />
    <br />
    SEÇÃO 6 - SEGURANÇA
    <br />
    Para proteger suas informações pessoais, tomamos precauções razoáveis ​​e seguimos as melhores práticas do setor para garantir que não sejam perdidas, mal utilizadas, acessadas, divulgadas, alteradas ou destruídas de forma inadequada.
    <br />
    Se você nos fornecer sua credencial.
    <br />
    <br />
</p>
