@page
@model Project_Crud.Pages.Livros.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .btn-back-page {
        width: 100px;
        height: 50px;
        background-color: #212529 !important;
        color: #FFFF;
        padding: 10px;
        text-decoration: none;
        border-radius: 8px;
        margin: 18px;
        transition: 0.2s
    }

        .btn-back-page:hover {
            filter: brightness(50%);
            color: #FFFF;
        }

    .row-form {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .column-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        margin: 10px;
        width:200px
    }

    .form-control{
        width:96%;
    }
    .form-container {
        width: 100%;
        background-color: #F3F3F3;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 12px;
    }
    .form-group > label{
        margin:10px;
    }
    .text-danger{
        margin:10px;
    }


</style>



<h1 style="margin:20px">Criar Novo Livro</h1>
<a asp-page="Index" class="btn-back-page" style="margin:20px"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>
<hr />
<div class="row-form">
    <div class="col-md-4 column-form">
        <form method="post" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livro.Titulo" class="control-label"></label>
                <input asp-for="Livro.Titulo" class="form-control" />
                <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Editora" class="control-label"></label>
                <input asp-for="Livro.Editora" class="form-control" />
                <span asp-validation-for="Livro.Editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Isbn" class="control-label"></label>
                <input asp-for="Livro.Isbn" class="form-control" />
                <span asp-validation-for="Livro.Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Ano" class="control-label"></label>
                <input asp-for="Livro.Ano" class="form-control" />
                <span asp-validation-for="Livro.Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Autor" class="control-label"></label>
                <input asp-for="Livro.Autor" class="form-control" />
                <span asp-validation-for="Livro.Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Preco" class="control-label"></label>
                <input asp-for="Livro.Preco" class="form-control" />
                <span asp-validation-for="Livro.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Categoria" class="control-label"></label>
                <input asp-for="Livro.Categoria" class="form-control" />
                <span asp-validation-for="Livro.Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary btn-back-page" style="width:91%;" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
